*{
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  cursor: default;
}

nav{
  height: 70px;
  width: 100%;
  display: flex;
  padding: 5px 36px;
  box-shadow: 0px 2.98256px 7.4565px rgba(0, 0, 0, 0.1);
  position: relative;
}

.nav--logo{
  min-width: 150px;
  min-height: 55px;
}

.card-list{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.card{
  box-shadow: 0px 2.98256px 7.4565px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  border-radius: 8px;
  position: relative;
}

.card--badge{
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card--img{
  max-height: 250px;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
}

.card--details{
  display: inline-block;
  margin-left: 10px;
  max-width: 50%;
}